body {
    background-color: #ffffb3;
    font-family: 'Merriweather', serif;
    font-size: large;
    color: #black;
}

a:link {color: darkorange;}
a:visited {color: #FF4500;}
a:hover {color: #ffa366;}
a:active {color: #fad1f3;}

li {
    list-style-type: square;
    color: black;
}

.main {
  background-color: #ffff99;
  color: white;
  border: 1px solid black;
  margin-left: -10px;
  text-align: center;
  padding: 15px;
  width:200px;
}

.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}

body {
    padding-bottom: 50px;
}

p {
    font-size: 100%;
    text-align: center;
}

#Philly_Zoo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 650px;
}

h1 {
    color: black;
    font-size: 175%;
    text-align: center;
}

h2 {
    display: block;
    color: black;
    font-size: 100%;
    padding-left: 50px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 100%;
}

h4 {
    text-align: center;
    font-size: 75%;
}

h5 {
    text-align: center;
    font-size: 150%;

}

div.block {
    border-left: 1px solid black;
    border-top: 10px solid black;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    margin: 20px;
}

div.zblock {
    border-left: 0px solid black;
    border-top: 0px solid black;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    margin: 20px;
}

div.iblock {
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding-left: 20px;
    padding-bottom: 5px;
}

h4, h5, h6 {
    color: black;
    font-size: 50%;
    text-align: center;
}

footer {
    padding-top: 50px;
}